.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;

    .education-row {
        display: flex;
        flex-wrap: wrap;
        gap: 5rem;

        .education-column {
            flex: 1 1 40rem;

            .education__title {
                position: relative;
                display: inline-block;
                font-size: 2.5rem;
                margin: 0 0 1.5rem 2rem;
            }
        }
    }
}

.education-column .education-box {
    position: relative;
    border-left: .2rem solid $main-text-color;

    .education-content {
        position: relative;
        padding-left: 2rem;

        .content {
            position: relative;
            padding: 1.5rem;
            border: .2rem solid $main-text-color;
            border-radius: .6rem;
            margin-bottom: 2rem;

            .year {
                font-size: 1.5rem;
                color: $main-text-color;
                padding-bottom: .5rem;

                i {
                    padding-right: .5rem;
                }
            }

            h3 {
                font-size: 2rem;
            }

            p {
                font-size: 1.6rem;
                padding-top: .5rem;
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background: $second-background-color;
                z-index: -1;
                transition: .5s;
            }

            &:hover::before {
                width: 100%;
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -1.1rem;
            width: 2rem;
            height: 2rem;
            background: $main-text-color;
            border-radius: 50%;
        }
    }
}

.education.show-animate .animate.scroll {
    transition-delay: calc(.3s * var(--i));
    width: 0;
}

.education .education-box .animate-scroll {
    width: 105%;
}