.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: $second-background-color;
}

.footer-text,
.footer-iconTop {
    position: relative;
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: $main-text-color;
    border: .2rem solid $main-text-color;
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;

    i {
        font-size: 2.4rem;
        color: $main-background-color;
        transition: .5s;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: $second-background-color;
        z-index: -1;
        transition: .5s;
    }

    &:hover::before {
        width: 100%;

    }

    &:hover i {
        color: $main-text-color;
    }
}

.footer.show-animate .animate.scroll {
    transition-delay: calc(.3s * var(--i));
    width: 0;
}